# Visual Studio
.vs/
*.user
*.suo

# Build outputs
[Bb]in/
[Oo]bj/
*.dll
*.pdb
*.exe
*.cache


# NuGet
packages/
*.nupkg

# Base de datos local (cada uno corre la suya)
*.db

# Carpetas de publish
publish*/
*.db

**/bin/
**/obj/
**/packages/
*.db
*.suo
*.user
